body{
    width: 100%;
    position: relative;
    background-color: darkgrey;
}
header{
    width: 100%;
    background-color: darkslateblue;
    padding: 0%;
    margin: auto;
    font-size: larger;
    text-align: center;
}
.nav {
    padding: 10px;
    margin: 20px;
    
}
h1{
    color: white;
    margin: auto;
    padding: 5px;
}
h2{
    color: blueviolet;
    margin: 20px;
    padding: 10px;
}
h3{
    color:blue;
    margin: 10px;
    padding: 20px;
}
h4{
    color: rgba(7, 1, 11, 0.956);
    margin: 25px;  
    font-size: large;                                                                                                                                               
}
nav a{ 
    font: medium;
    margin: 20px;
    padding:10px;
    color: white;
}
q{
    font-size: large;
    margin: 20px;
}
nav a:hover{
    background-color: black;

}
li{
font-size: large;
margin: 1rem;

}
li a{
    color: darkcyan;
    margin: 10px;
}
li a:hover{
    background-color: darkorange;
}
article{
    height: 100%;
    background-color: 1px solid gray;
}

img{
    float: right;
    width: 40%;
    height: 400px;
    margin: 10px;
    padding: 0%;
}

div p{
    background-color: darkslategray;
}
.hobby {
    position: static;
    display: block; 
}
div{
justify-content: space-between;
}

.swim {
    color: wheat;
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    text-align: center;
    background-color:darkolivegreen
    
}
.gym{
    color: darkslateblue;
    border: 1px solid brown;
    margin: 30px;
    padding: 50px;
    text-align: center;
    background-color:azure;
}
.volley-ball{
    color: black;
    margin: 30px;
    border: 1px solid black;
    padding: 50px;
    background-color: lightslategray;
}
.citats{
    margin: auto;
    padding: 10px;
    color: black;
}

form{ 
    background-color: darkkhaki;
    margin: auto;
    padding: 10px;
    
}
input{
    margin: 10px;
}
#name{
    margin: 14px
}
#email{
    margin: 13px;
    padding-bottom: 15px;
}
#age{
    margin: 3rem;
}
#male{
    margin: 3rem;
}
#female{
    margin: 3rem;
}
#none{
    margin: 4rem;
}
select{
    margin: 10px;
    padding: 10px;
}

footer{
    margin: auto;
    padding: 15px;
    background-color: black;
}
span{
    text-align: center;
    color:white;
}
span a{
    color: whitesmoke;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
span p{
    text-align: end;
}
span a:hover{
    background-color: darkmagenta;
}

